.form-check__input {
  float: left;
  width: 16px;
  height: 16px;
  margin: 0;
  top: 6px;
  left: 0;
  z-index: 15;
  opacity: 0;
  cursor: pointer;

  & + span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 14px;
    width: 15px;
    height: 15px;

    &:before {
      content: '';
    }
  }
}

input[type="checkbox"].form-check__input {
  & + span {
    border-radius: 3px;
    border: 1px solid rgba(215, 5, 3, 0.5);

    &:before {
      position: absolute;
      top: -6px;
      left: 7px;
      width: 6.5px;
      height: 16px;
      border-bottom: 1px solid #d70503;
      border-right: 1px solid #d70503;
      transform: rotate(45deg);
      visibility: hidden;
    }
  }

  &:checked + span {
    &:before {
      visibility: visible;
    }
  }
}

input[type="radio"].form-check__input {
  & + span {
    border-radius: 50%;
    border: 1px solid #d70200;

    &:before {
      background: none;
    }
  }

  &:checked + span {
    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 9px;
      height: 9px;
      margin-left: -4.5px;
      margin-top: -4.5px;
      border-radius: 50%;
      background: #d70200;
    }
  }
}