.footer__link {
    display: block;
    color: $gray-500;
    font-size: rem(13px);
    font-weight: $font-weight-light;
    line-height: rem(28.8px);
    text-decoration: none;

    &:hover {
      color: $gray-500;
      text-decoration: underline;
    }
}

