.product-panel__counter {
  display: inline-block;
  margin-left: 11px;
  width: 23px;
  height: 23px;
  line-height: 23px;
  text-align: center;
  border-radius: 50%;
  background: $gray-400;
  color: $white;
  font-size: 11px;
}