.list {
  padding: 0 0 0 13px;
  list-style: none;

  .list {
    padding: 2px 0 0 34px;

    .list__li:before {
      top: 0;
      left: -25px;
    }
  }

  ul .list > .list__li:before {
    opacity: 0.5;
  }
}