.search-modal__compare {
  display: block;
  text-decoration: none;
  font-size: $h6-font-size;
  margin-top: -9px;
  margin-bottom: 12px;

  &:hover {
    text-decoration: underline;
  }

  & > strong, & > span {
    color: $black;
  }
}