.sign-in {
  float: right;
  padding-left: 30px;
  position: relative;
  margin-left: 4px;
  margin-top: 7px;
  text-decoration: none;
  line-height: rem(16px);

  &, &:hover {
    color: $black;
  }

  &:hover {
    span {
      text-decoration: underline;
    }
  }

  i {
    position: absolute;
    top: 0;
    left: -3px;
    color: $red;
    font-size: 29px;
  }
}