.navigation__link {
  color: $black;

  &, &:hover {
    font-size: $h5-font-size;
    font-weight: $font-weight-bold;
    text-decoration: none;
  }

  &.show, &:hover {
    color: $red;
  }

  @include media-breakpoint-between(sm, md) {
    padding-left: rem(5px);
    padding-right: rem(5px);
  }
}