.phone {
  display: block;
  position: relative;
  padding-top: 4px;
  padding-left: 40px;
  letter-spacing: rem(-0.15px);
  font-size: $h3-font-size;
  font-weight: $font-weight-light;
  line-height: rem(21px);

  &, &:hover {
    color: $black;
    text-decoration: none;
  }

  i {
    position: absolute;
    top: 12px;
    left: 0;
    color: $red;
  }

  @include media-breakpoint-between(xs, lg) {
    font-size: rem(21px);
  }
}