ol {
  counter-reset: item;
}

.list__li {
  position: relative;
  margin-bottom: 3px;

  &:before {
    content: '';
    position: absolute;
    top: 8px;
    left: -15px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #d70200;
  }
}

ol .list__li:before {
  counter-increment: item;
  content: counters(item, ".") ".";
  width: auto;
  height: auto;
  top: 0;
  left: -15px;
  background-color: transparent;
  color: #d70200;
}