.mail {
  display: block;
  margin-top: 17px;
  margin-bottom: 29px;
  position: relative;
  padding-left: 40px;
  font-size: $h3-font-size;
  font-weight: $font-weight-light;
  line-height: rem(28.8px);

  &, &:hover {
    color: $black;
    text-decoration: none;
  }

  i {
    position: absolute;
    top: 6px;
    left: 0;
    color: $red;
  }
}