/* exo-2-300 - cyrillic_latin */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/exo-2-v4-cyrillic_latin-300.eot'); /* IE9 Compat Modes */
  src: local('Exo 2 Light'), local('Exo2-Light'),
  url('fonts/exo-2-v4-cyrillic_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/exo-2-v4-cyrillic_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/exo-2-v4-cyrillic_latin-300.woff') format('woff'), /* Modern Browsers */
  url('fonts/exo-2-v4-cyrillic_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/exo-2-v4-cyrillic_latin-300.svg#Exo2') format('svg'); /* Legacy iOS */
}
/* exo-2-regular - cyrillic_latin */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/exo-2-v4-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Exo 2'), local('Exo2-Regular'),
  url('fonts/exo-2-v4-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/exo-2-v4-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/exo-2-v4-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
  url('fonts/exo-2-v4-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/exo-2-v4-cyrillic_latin-regular.svg#Exo2') format('svg'); /* Legacy iOS */
}
/* exo-2-italic - cyrillic_latin */
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/exo-2-v4-cyrillic_latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Exo 2 Italic'), local('Exo2-Italic'),
  url('fonts/exo-2-v4-cyrillic_latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/exo-2-v4-cyrillic_latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/exo-2-v4-cyrillic_latin-italic.woff') format('woff'), /* Modern Browsers */
  url('fonts/exo-2-v4-cyrillic_latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/exo-2-v4-cyrillic_latin-italic.svg#Exo2') format('svg'); /* Legacy iOS */
}
/* exo-2-300italic - cyrillic_latin */
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-weight: 300;
  src: url('fonts/exo-2-v4-cyrillic_latin-300italic.eot'); /* IE9 Compat Modes */
  src: local('Exo 2 Light Italic'), local('Exo2-LightItalic'),
  url('fonts/exo-2-v4-cyrillic_latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/exo-2-v4-cyrillic_latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/exo-2-v4-cyrillic_latin-300italic.woff') format('woff'), /* Modern Browsers */
  url('fonts/exo-2-v4-cyrillic_latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/exo-2-v4-cyrillic_latin-300italic.svg#Exo2') format('svg'); /* Legacy iOS */
}
/* exo-2-500 - cyrillic_latin */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/exo-2-v4-cyrillic_latin-500.eot'); /* IE9 Compat Modes */
  src: local('Exo 2 Medium'), local('Exo2-Medium'),
  url('fonts/exo-2-v4-cyrillic_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/exo-2-v4-cyrillic_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/exo-2-v4-cyrillic_latin-500.woff') format('woff'), /* Modern Browsers */
  url('fonts/exo-2-v4-cyrillic_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/exo-2-v4-cyrillic_latin-500.svg#Exo2') format('svg'); /* Legacy iOS */
}
/* exo-2-500italic - cyrillic_latin */
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-weight: 500;
  src: url('fonts/exo-2-v4-cyrillic_latin-500italic.eot'); /* IE9 Compat Modes */
  src: local('Exo 2 Medium Italic'), local('Exo2-MediumItalic'),
  url('fonts/exo-2-v4-cyrillic_latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/exo-2-v4-cyrillic_latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/exo-2-v4-cyrillic_latin-500italic.woff') format('woff'), /* Modern Browsers */
  url('fonts/exo-2-v4-cyrillic_latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/exo-2-v4-cyrillic_latin-500italic.svg#Exo2') format('svg'); /* Legacy iOS */
}
/* exo-2-700 - cyrillic_latin */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/exo-2-v4-cyrillic_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Exo 2 Bold'), local('Exo2-Bold'),
  url('fonts/exo-2-v4-cyrillic_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/exo-2-v4-cyrillic_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/exo-2-v4-cyrillic_latin-700.woff') format('woff'), /* Modern Browsers */
  url('fonts/exo-2-v4-cyrillic_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/exo-2-v4-cyrillic_latin-700.svg#Exo2') format('svg'); /* Legacy iOS */
}
/* exo-2-700italic - cyrillic_latin */
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/exo-2-v4-cyrillic_latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Exo 2 Bold Italic'), local('Exo2-BoldItalic'),
  url('fonts/exo-2-v4-cyrillic_latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/exo-2-v4-cyrillic_latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/exo-2-v4-cyrillic_latin-700italic.woff') format('woff'), /* Modern Browsers */
  url('fonts/exo-2-v4-cyrillic_latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/exo-2-v4-cyrillic_latin-700italic.svg#Exo2') format('svg'); /* Legacy iOS */
}