.aside-menu__back {
  display: block;
  padding: $grid-gutter-width/2 0;
  color: $black;
  font-weight: $font-weight-bold;
  text-decoration: none;

  &:hover {
    color: $red;
  }

  i {
    position: relative;
    top: 4px;
    margin-right: 10px;
    font-size: rem(21px);
  }
}