.search-modal__wrapper {
  @include make-col-ready();

  @include media-breakpoint-between(sm, lg) {
    @include make-col-offset(0);
    @include make-col(12);
  }

  @include media-breakpoint-only(xl) {
    @include make-col-offset(2.5);
    @include make-col(7.5);
  }


  padding: 20px 30px 30px 30px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-color: $white;

  .col-xl-6 {
    &:first-child {
      border-right: 1px dashed $gray-300;
    }
  }
}