.figure {
  width: 41.3%;
  margin-right: $grid-gutter-width;
  display: flex;
  flex-flow: column;

  img {
    flex-basis: 100%;
    margin-bottom: 35px;
  }

  @include media-breakpoint-between(xs, sm) {
    width: 100%;
  }
}