.aside-menu__inner-content {
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: $grid-gutter-width/2;
  background: $white;
  z-index: 0;
  transition: all ease 0.5s;

  .aside-menu__link {
    font-weight: $font-weight-light;
  }
}