.aside-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  z-index: 10;
  transition: all ease 0.5s;
  background: rgba($black, .3);
  overflow: hidden;

  @include media-breakpoint-between(lg, xl) {
    display: none;
  }
}