.location {
  position: relative;
  display: block;
  padding-left: $grid-gutter-width;
  color: $black;
  font-weight: $font-weight-light;

  i {
    position: absolute;
    top: 5px;
    left: 0;
    font-size: rem(27px);
    color: $red;
  }
}