.drop-menu__column {
  @include make-col-ready();

  @include media-breakpoint-only(xl) {
    @include make-col(10);
  }

  @include media-breakpoint-between(sm, lg) {
    @include make-col(12);
  }
}