.get-feedback {
  position: relative;
  display: block;
  padding-left: 50px;
  margin-left: 28px;
  line-height: $font-size-base;
  text-decoration: none;

  &:hover {
    span {
      text-decoration: underline;
    }
  }

  i {
    position: absolute;
    top: 6px;
    left: -2px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 35px;
    font-size: 21px;
    text-align: center;
    vertical-align: middle;
    background-color: $red;
    color: $white;
  }

  @include media-breakpoint-between(xs, lg) {
    margin-left: 0;
  }
}