.aside-menu__mobile-content {
  margin-top: $grid-gutter-width;

  & > * {
    margin-bottom: $grid-gutter-width/2;
  }

  @include media-breakpoint-between(xs, sm) {
    .search-wrapper {
      display: block;
      padding: 0;
      height: auto;
      position: static;
    }

    .search {
      margin: 0;
    }

    .sign-in {
      display: block;
      float: none;
    }
  }

  @include media-breakpoint-only(sm) {
    .search {
      display: none;
    }
  }

  @include media-breakpoint-only(md) {
    .location, .phone, .sign-in, .search-wrapper {
      display: none;
    }
  }
}