.search {
  @include make-row();

  height: 100%;

  input.form-control {
    @include make-col-ready();

    @include media-breakpoint-only(xl) {
      @include make-col-offset(8.12);
      @include make-col(2);
    }

    padding: 12px 20px;
    font-style: italic;
    transition: all ease 0.5s;

    &:focus {
      @include media-breakpoint-only(xl) {
        @include make-col-offset(2.5);
        @include make-col(7.5);
      }
    }
  }
}

@include media-breakpoint-between(sm, md) {
  input.form-control {
    @include make-col-offset(0);
    @include make-col(12);

    z-index: 3;

    & + .search__button {
      z-index: 10;
    }
  }
}

@include media-breakpoint-only(lg) {
  input.form-control {
    @include make-col-offset(8);
    @include make-col(2);

    opacity: 0;
    z-index: 3;

    &:focus {
      @include make-col-offset(0);
      @include make-col(12);

      opacity: 1;


      & + .search__button {
        z-index: 10;
      }
    }
  }
}

.search_expanded {
  input.form-control {
    @include media-breakpoint-only(xl) {
      @include make-col-offset(2.5);
      @include make-col(7.5);
    }
  }
}

