.search-modal__item-title {
  display: block;
  padding: 6px 0 0 0;
  line-height: 20px;
  color: #302d2e; // TODO: настолько уникален?
  font-size: $h6-font-size;
  font-weight: 0.72 * $headings-font-weight; //  0.72 * 700 = 504 что это значит?
}