.search-modal__item-image {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  line-height: 50px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(41, 41, 41, 0.1);
  border-radius: 5px;
  background-color: $white;

  img {
    vertical-align: middle;
  }
}