.navbar__toggler {
  float: left;
  margin-right: $grid-gutter-width/2;
  width: 30px;
  height: 30px;

  @include media-breakpoint-down(xs) {
    top: 10px;
    left: 15px;
  }

  @include media-breakpoint-between (sm, md) {
    top: 4px;
    left: 0;
  }

  @include media-breakpoint-between (xs, md) {
    position: absolute;
  }
}