.search__button {
  position: relative;
  width: 0;
  padding: 0;
  font-size: 26px;
  cursor: pointer;

  &, &:hover, &:focus {
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
  }

  i {
    position: absolute;
    top: -12px;
    left: -42px;
  }
}