.social__link {
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: rem(31px);
  text-align: center;
  font-size: 18px;
  background-color: $red;
  border-radius: 50%;

  &, &:hover {
    color: $white;
    text-decoration: none;
  }

  i {
    vertical-align: middle;
  }
}