.table-rounded {
  position: relative;
  overflow: hidden;
  border-radius: 10px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 2px solid #dee2e6;
    border-radius: 10px;
    z-index: -10;
  }

  .table {
    margin: 0;

    th, td {
      padding: 13px 17px;

      @include media-breakpoint-down(xs) {
        padding: 5px;
        vertical-align: middle;
      }
    }
  }


}