.search-modal {
  @include make-row();

  display: none;
  position: absolute;
  top: calc(100% + 6px);
  right: 0;
  left: 0;

  @include media-breakpoint-only(xs) {
    display: none!important;
  }
}