@import "variables";

@font-face {
  font-family: 'icons';
  src:  url('#{$icons-font-path}/icons.eot?w0e31q');
  src:  url('#{$icons-font-path}/icons.eot?w0e31q#iefix') format('embedded-opentype'),
  url('#{$icons-font-path}/icons.ttf?w0e31q') format('truetype'),
  url('#{$icons-font-path}/icons.woff?w0e31q') format('woff'),
  url('#{$icons-font-path}/icons.svg?w0e31q#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@function unicode($str) {
  @return unquote("\"") + $str + unquote("\"");
}

.icon-feature-1 {
  &:before {
    content: unicode($icon-feature-1);
  }
}
.icon-feature-2 {
  &:before {
    content: unicode($icon-feature-2);
  }
}
.icon-feature-3 {
  &:before {
    content: unicode($icon-feature-3);
  }
}
.icon-feature-4 {
  &:before {
    content: unicode($icon-feature-4);
  }
}
.icon-feature-5 {
  &:before {
    content: unicode($icon-feature-5);
  }
}
.icon-prev {
  &:before {
    content: unicode($icon-prev);
  }
}
.icon-fb {
  &:before {
    content: unicode($icon-fb);
  }
}
.icon-ok {
  &:before {
    content: unicode($icon-ok);
  }
}
.icon-g {
  &:before {
    content: unicode($icon-g);
  }
}
.icon-inst {
  &:before {
    content: unicode($icon-inst);
  }
}
.icon-cart {
  &:before {
    content: unicode($icon-cart);
  }
}
.icon-favorites {
  &:before {
    content: unicode($icon-favorites);
  }
}
.icon-feedback {
  &:before {
    content: unicode($icon-feedback);
  }
}
.icon-lock {
  &:before {
    content: unicode($icon-lock);
  }
}
.icon-vk {
  &:before {
    content: unicode($icon-vk);
  }
}
.icon-mail {
  &:before {
    content: unicode($icon-mail);
  }
}
.icon-search {
  &:before {
    content: unicode($icon-search);
  }
}
.icon-get-feedback {
  &:before {
    content: unicode($icon-get-feedback);
  }
}
.icon-clock {
  &:before {
    content: unicode($icon-clock);
  }
}
.icon-phone {
  &:before {
    content: unicode($icon-phone);
  }
}
.icon-pin {
  &:before {
    content: unicode($icon-pin);
  }
}
.icon-devider {
  &:before {
    content: unicode($icon-devider);
  }
}

