$icons-font-path: "fonts" !default;

$icon-feature-1: \e911;
$icon-feature-2: \e912;
$icon-feature-3: \e913;
$icon-feature-4: \e914;
$icon-feature-5: \e915;
$icon-prev: \e910;
$icon-fb: \e901;
$icon-ok: \e90d;
$icon-g: \e90e;
$icon-inst: \e90f;
$icon-cart: \e90b;
$icon-favorites: \e90c;
$icon-feedback: \e90a;
$icon-lock: \e909;
$icon-vk: \e902;
$icon-mail: \e903;
$icon-search: \e904;
$icon-get-feedback: \e905;
$icon-clock: \e906;
$icon-phone: \e907;
$icon-pin: \e908;
$icon-devider: \e900;

