.product-thumbnail__tag {
  border-radius: 50px;
  margin-left: 9px;
  font-size: rem(12px);
  font-weight: $font-weight-normal * 0.8;
  line-height: rem(18px);
  text-transform: uppercase;

  &:first-child {
    margin-left: 0;
  }

  a {
    &, &:hover {
      padding: 2px 10px;
      color: $white;
      text-decoration: none;
    }
  }
}