.drop-menu__link-wrapper {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 34px - $grid-gutter-width/2;

  &:before {
    content: '';
    position: absolute;
    top: -24px;
    bottom: 19px;
    right: 0;
    border-right: 1px dashed $gray-300;
  }
}