.search-wrapper {
  position: absolute;
  width: 100%;
  height: 0;
  padding: 0 $grid-gutter-width/2;

  @include media-breakpoint-down(xs) {
    display: none;
  }

  @include media-breakpoint-between(sm, md) {
    top: calc(100% + -30px);
  }
}