.table_equal-bordered {
  border: none;
  tr > th, tr > td {
    width: 33.3333%;
  }

  thead th, thead td {
    border-bottom-width: 2px;
  }

  thead th {
    border-bottom: 2px solid #dee2e6;
  }
}