.location__change {
  display: inline-block;
  position: relative;
  top: -10px; //TODO: значения в пиксилях плохо если такое необходимо заводи переменную или используй существующую
  text-decoration: none;
  line-height: 21px; // TODO: Не первый раз говорю о значении в пикселях у тебя даже шрифт в rem что вдруг интервал в пиксилях? ($font-size/21px)
  border-bottom: 1px dashed $red; // TODO: Можно не указывать цвет тогда и нижнее правило станет ненужным

  &, &:hover {
    color: $red;
  }

  &:hover { // TODO: Вот это правило станет не нужным если не указывать цвет бордеру
    border-bottom: 1px dashed transparent;
  }

}