.opening-hours {
  position: relative;
  padding-left: 38px;
  margin-left: 28px;
  margin-top: 3px;

  i {
    position: absolute;
    top: 8px;
    left: -2px;
    font-size: rem(27px);
    color: $red;
  }
}