.navigation {
  @include make-col-ready();

  @include media-breakpoint-down(sm) {
    display: none;
  }

  @include media-breakpoint-between(sm, md) {
    @include make-col(5.5);

    .navbar-nav {
      flex-direction: row;
      overflow: hidden;
    }

    .navigation__link {
      padding-left: rem(6px);
      padding-right: rem(6px);
    }
  }

  @include media-breakpoint-only(lg) {
    @include make-col(5);
  }

  @include media-breakpoint-only(xl) {
    @include make-col(5.42);
  }

  position: static;
  margin-top: -7px;
}