.product-panel {
  @include make-col-ready();

  @include media-breakpoint-down(xs) {
    @include make-col-offset(0);
    @include make-col(5.5);
  }

  @include media-breakpoint-only (sm){
    @include make-col-offset(0);
    @include make-col(4);
  }

  @include media-breakpoint-only (md) {
    @include make-col-offset(0);
    @include make-col(2.5);
  }

  @include media-breakpoint-only (lg) {
    @include make-col-offset(2);
    @include make-col(2);
  }

  @include media-breakpoint-only (xl) {
    @include make-col-offset(2.12);
    @include make-col(1.88);
  }

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 0;
  list-style: none;
}