// TODO: это перепределеие стилей bootstrap на уровне конкретного пректа "blocks.04-project"
.breadcrumb__item {
  &:before {
    font-family: 'icons';
  }

  a, a:hover {
    color: $gray-600;
    text-decoration: underline;
  }

  &.active a {
    text-decoration: none;
  }
}