.aside-menu__wrapper {
  position: relative;
  width: 320px;
  height: 100vh;
  padding: $grid-gutter-width/2;
  background: $white;
  box-shadow: $dropdown-box-shadow;
  border-top-right-radius: $border-radius-sm;
  border-bottom-right-radius: $border-radius-sm;
  overflow-x: hidden;
  overflow-y: scroll;
}