.develop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;

  &, &:hover {
    color: $black;
  }

  &:hover {
    text-decoration: underline;
  }

  img {
    margin-right: 10px;
    flex-shrink: 0;
    width: 18px;
    height: 18px;
  }
}