.drop-menu__link {
  text-decoration: none;
  white-space: pre-wrap;

  &, &:hover {
    color: $black;
    font-weight: $font-weight-light;
    line-height: rem(28px);
    background: none;
  }

  &:hover {
    text-decoration: underline;
  }
}