.navbar__brand {
  @include make-col-ready();

  @include media-breakpoint-down(xs) {
    @include make-col-offset(1.5);
    @include make-col(5);

    img {
      width: 100%;
    }

    small {
      font-size: 8px;
    }
  }

  @include media-breakpoint-only(sm) {
    @include make-col-offset(1);
    @include make-col(7);

    img {
      width: auto;
    }
  }

  @include media-breakpoint-only(md) {
    @include make-col-offset(0.5);
    @include make-col(3.5);
  }

  @include media-breakpoint-only(lg) {
    @include make-col(3);
  }

  @include media-breakpoint-only(xl) {
    @include make-col(2.58);
  }

  &, &:hover {
    color: $black;
    text-decoration: none;
  }
}