$gray-300: #e8e8e8;
$gray-400: #dddddd;
$gray-500: #7c7c7c;
$gray-600: #626262;
$gray-700: rgba(#0a0a0a, 0.5);
$red:     #d70200;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1170px
);

// Style anchor elements.

$link-color:                theme-color("danger");
$link-decoration:           underline;
$link-hover-color:          $link-color;
$link-hover-decoration:     none;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-padding-y:         0.714rem;
$input-btn-padding-x:         2rem;
$input-btn-line-height:      1.35714rem;

$input-btn-padding-y-sm:      0.857rem;
$input-btn-padding-x-sm:      1.57142rem;
$input-btn-line-height-sm:    1rem;

$input-btn-padding-y-lg:      0.714rem;
$input-btn-padding-x-lg:      2.64rem;
$input-btn-line-height-lg:    $h3-font-size;
$input-btn-focus-color:       rgba($red, .25);

// Components
//
// Define common padding and border radius sizes and more.
$btn-padding-y:               $input-btn-padding-y;
$btn-padding-x:               $input-btn-padding-x;
$btn-line-height:             $input-btn-line-height;

$btn-padding-y-sm:            $input-btn-padding-y-sm;
$btn-padding-x-sm:            $input-btn-padding-x-sm;
$btn-line-height-sm:          $input-btn-line-height-sm;

$btn-padding-y-lg:            $input-btn-padding-y-lg;
$btn-padding-x-lg:            $input-btn-padding-x-lg;
$btn-line-height-lg:          $input-btn-line-height-lg;

$border-radius:               1.42857rem;
$border-radius-lg:            1.92857rem;
$border-radius-sm:            1.28571rem;

$component-active-bg:         theme-color("danger");

// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-item-padding-y:           .25rem;
$dropdown-item-padding-x:           0;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:           $border-radius;
$btn-border-radius-lg:        $border-radius-lg;
$btn-border-radius-sm:        $border-radius-sm;

// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-border-width:          2px;

// stylelint-disable value-keyword-case

$font-family-sans-serif:      "Exo 2", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-base:            $font-family-sans-serif;

// stylelint-enable value-keyword-case

$font-size-base:              1rem; // Assumes the browser default, typically `16px`
$font-size-lg:                ($font-size-base * 1.14);
$font-weight-normal:          500;
$line-height-base:            1.7143;
$h1-font-size:                $font-size-base * 2.57143;
$h2-font-size:                $font-size-base * 2.14286;
$h3-font-size:                $font-size-base * 1.71428;
$h4-font-size:                $font-size-base * 1.42857;
$h5-font-size:                $font-size-base * 1.28571;
$h6-font-size:                $font-size-base * 1.14285;
$headings-margin-bottom:      ($spacer * 1.85714);
$headings-font-weight:        700;
$headings-color:              $black;
$small-font-size:             68.572%;

// Breadcrumbs

$breadcrumb-padding-y:              0;
$breadcrumb-padding-x:              0;
$breadcrumb-item-padding:           .5rem;

$breadcrumb-margin-bottom:          2rem;

$breadcrumb-bg:                     transparent;
$breadcrumb-divider:                "\e900";

// Forms

$input-padding-y:                       $input-btn-padding-y;
$input-padding-x:                       $input-btn-padding-x;
$input-border-radius:                   22px;
$form-text-margin-top:                  .357rem;
$input-focus-border-color:              lighten($red, 25%);
//$input-focus-color:                     lighten($red, 25%);
$input-focus-box-shadow:                0 0 0 0.2rem rgba(lighten($red, 25%), 0.3);

// Form validation
$form-feedback-margin-top:          $form-text-margin-top;
$form-feedback-font-size:           $small-font-size;
$form-feedback-valid-color:         theme-color("success");
$form-feedback-invalid-color:       theme-color("danger");

// Navbar
$navbar-padding-y:                  0;
$navbar-padding-x:                  0;
$nav-link-padding-y:                0;
$navbar-nav-link-padding-x:         .7142857rem;

// Compute the navbar-brand padding-y so the navbar-brand will have the same height as navbar-text and nav-link
$navbar-toggler-padding-y:          0;
$navbar-toggler-padding-x:          0;
$navbar-toggler-font-size:          rem(14px);
$navbar-light-color:                rgba($black, 1);
$navbar-light-hover-color:          rgba(red, 1);

